<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="shortcut icon" th:href="@{/img/favicon.png}"></link>

<title>Cadastro de Software</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"></link>
</head>
<body>

	<div class="container">
		<div class="header clearfix">
			<h3 class="text-muted">Cadastro de Software</h3>
		</div>

		<div th:include="menu"></div>

		<div class="col-md-9">
			<div class="jumbotron">
				<div class="col-md-12" th:if="${sucesso != null}">
					<div class="alert alert-success">
						<span th:text="${sucesso}"></span>
					</div>
				</div>

				<div class="col-md-12" th:if="${erro != null}">
					<div class="alert alert-danger">
						<span th:text="${erro}"></span>
					</div>
				</div>
				<form th:action="@{/softwares/cadastro/salvar}"
					th:object="${software}" method="post">
					<input type="hidden" th:field="*{id}"></input>
					<div class="row">
						<div class="col-md-8">
							<div class="form-group">
								<label for="nome">Nome</label> <input type="text"
									class="form-control" id="nome" name="nome"
									placeholder="Informe o nome do Software" th:field="*{nome}"
									required="required"></input>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="versao">Versão</label> <input type="text"
									class="form-control" id="versao" name="versao"
									placeholder="Informe a Versão" th:field="*{versao}"
									required="required"></input>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<div class="row">
									<label for="observacoes">Observações</label>
									<div class="col-md-10">
										<textarea id="observacoes" name="observacoes" minlength="10"
											class="textInput required rounded" rows="5" cols="100"
											style="border-radius: 4px;" th:field="*{observacoes}"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<button type="submit" class="btn btn-success">
								<span class="glyphicon glyphicon-floppy-disk"></span> Salvar
							</button>
						</div>
						<div class="col-md-6">
							<a th:href="@{/softwares}" class="btn btn-primary"><span
								class="glyphicon glyphicon-arrow-left"></span> Voltar </a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>